@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vt323/v18/pxiKyp0ihIEF2isfFJXUdVNF.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

/* ========================================
Variables
======================================== */

:root {
  --gap: 6px;

  --border: 2px;
  --radius: 6px;

  --dex-height: 580px;
  --dex-width: 760px;

  --spine: 50px;

  --header-width: calc((100% - var(--spine)) / 2 + var(--spine));

  --background: #eb1717;
  --font-primary: "VT323", monospace;
}

/* ========================================
Global-ish
======================================== */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-primary);
  font-size: 1.3rem;
  text-transform: capitalize;
}

img {
  width: 100%;
  height: auto;

  &.is-pixelated {
    image-rendering: pixelated;
  }
}

/* ========================================
Layout
======================================== */

.pokedex {
  display: flex;
  flex-direction: column;
  min-height: var(--dex-height);
  margin-left: auto;
  margin-right: auto;
  width: var(--dex-width);
}

.layout-header {
  background-color: var(--background);
  border-bottom: none !important; /* !important for sorting */
  border-radius: var(--radius) var(--radius) 0 0;
  border: var(--border) solid black;
  display: flex;
  padding: var(--gap);
  width: var(--header-width);
}

.layout-panels {
  background-color: var(--background);
  border-radius: 0 var(--radius) var(--radius) var(--radius);
  border: var(--border) solid black;
  display: flex;
  flex: 1;
  height: 100%;
}

.layout-panel {
  border: var(--border) solid black;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: var(--gap);
  padding: calc(var(--gap) * 3);

  &.lhs {
    border-bottom-right-radius: 0;
  }

  &.rhs {
    border-bottom-left-radius: 0;
  }
}

.layout-spine {
  border-left: var(--border) solid black;
  border-right: var(--border) solid black;
  flex: 0 0 var(--spine);
}

/* ========================================
Utilities
======================================== */

.bg-blue {
  background-color: blue !important;
}

.bg-red {
  background-color: red !important;
}

.bg-yellow {
  background-color: yellow !important;
}

.bg-green {
  background-color: green !important;
}

/* ========================================
Layout "Components"
======================================== */

.block:not(:last-child) {
  margin-bottom: calc(var(--gap) * 2);
}

.dot {
  --size: 10px;

  background-color: var(--background);
  border-radius: 50%;
  border: 1px solid black;
  height: var(--size);
  width: var(--size);

  &.is-med {
    --size: 16px;
  }

  &.is-big {
    --size: 25px;
  }
}

.button {
  &.circle {
    --size: 36px;
    background-color: black;
    border-radius: 50%;
    height: var(--size);
    width: var(--size);
  }

  &.pill {
    background-color: black;
    border-radius: 20px;
    height: 8px;
    width: 36px;
  }
}

.info {
  background-color: paleturquoise;
  border-radius: var(--radius);
  display: inline-flex;
  padding: var(--gap);
}

#header {
  .bar {
    display: flex;
    gap: var(--gap);
  }

  .button.circle {
    --size: 46px;
  }

  .status {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
  }
}


#d-pad {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(3, 25px);
  grid-template-rows: repeat(3, 25px);
  width: fit-content;

  .btn {
    background-color: #222;
    border: 1px solid #111;

    &.up {
      border-radius: 4px 4px 0 0;
      grid-column: 2;
      grid-row: 1;
    }

    &.left {
      border-radius: 4px 0 0 4px;
      grid-column: 1;
      grid-row: 2;
    }

    &.center {
      grid-column: 2;
      grid-row: 2;
    }

    &.right {
      border-radius: 0 4px 4px 0;
      grid-column: 3;
      grid-row: 2;
    }

    &.down {
      border-radius: 0 0 4px 4px;
      grid-column: 2;
      grid-row: 3;
    }
  }
}

#preview {
  border-radius: var(--radius);
  background-color: lightgray;
  padding: calc(var(--gap) * 2) calc(var(--gap) * 3);

  .bar {
    display: flex;

    &:first-child {
      gap: var(--gap);
      justify-content: center;
    }

    &:not(:last-child) {
      margin-bottom: var(--gap);
    }
  }

  .image {
    aspect-ratio: 1;
    background-color: darkgray;
    border-radius: var(--radius);
    border: var(--border) solid black;
    padding: calc(var(--gap) * 2);
    width: 100%;
  }
}

#control {
  display: flex;
  flex: 1;

  .column {
    display: inline-flex;

    &.lhs {
      flex-direction: column;
      flex: 2;
    }

    &.rhs {
      align-items: center;
      flex: 1;
      justify-content: center;
    }
  }

  .bar {
    display: flex;

    &:first-child {
      align-items: center;
      gap: calc(var(--gap) * 2);
      margin-bottom: calc(var(--gap) * 2);
    }

    &:last-child {
      flex: 1;
    }
  }

  .info {
    flex: 1;
  }
}

#evolution {
  --arrow: 1px;
  --arrow-gap: 4px;
  --image-size: calc((100% / 3) - (((var(--arrow) + (var(--arrow-gap) * 2)) * 2) / 3));

  display: flex;

  .arrow {
    width: 1px;
    background-color: red;
    height: 100%;
  }

  .info {
    align-items: flex-end;
    flex: 1;
    gap: var(--arrow-gap);
  }

  .poke-group {
    align-items: center;
    display: flex;
    flex: 0 0 var(--image-size);
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;

    .image {
      width: 100%;
    }

    p {
      font-size: 0.75rem;
      margin: 2px;
      text-align: center;
    }
  }
}

#button-grid {
  border-radius: calc(var(--radius) + 1px);
  display: flex;
  flex-wrap: wrap;

  .square {
    background-color: blue;
    border: 1px solid black;
    flex: 1 0 20%;
    height: 40px;

    &:nth-child(1) {
      border-top-left-radius: var(--radius);
    }

    &:nth-child(5) {
      border-top-right-radius: var(--radius);
    }

    &:nth-child(6) {
      border-bottom-left-radius: var(--radius);
    }

    &:nth-child(10) {
      border-bottom-right-radius: var(--radius);
    }
  }
}

#pill-bar {
  .bar {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    justify-content: right;
  }
}

#button-moves {
  display: flex;
  align-items: flex-end;
  gap: var(--gap);


  .bar {
    border-radius: calc(var(--radius) + 1px);
    display: flex;
    flex-wrap: wrap;


    .square {
      background-color: blue;
      border: 1px solid black;
      aspect-ratio: 1;
      width: 60px;
      height: 40px;

      &:nth-child(1) {
        border-top-left-radius: var(--radius);
        border-bottom-left-radius: var(--radius);
      }

      &:nth-child(2) {
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
      }
    }
  }

  .button.circle {
    margin-left: auto;
  }
}

#poke-info {
  display: flex;
  gap: var(--gap);
  flex: 1;

  .info {
    flex: 1;
  }
}
