@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vt323/v18/pxiKyp0ihIEF2isfFJXUdVNF.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

:root {
  --font-primary: "VT323", monospace;
}

/*
Root-Level Styles
*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary);
  font-size: 1.3rem;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  text-transform: capitalize;
}

img {
  width: 100%;
  height: auto;

  &.is-pixelated {
    image-rendering: pixelated;
  }
}

/*
Layout Styles
*/

.pokedex {
  background: linear-gradient(
    190deg,
    #e31818 0%,
    #ea2f2f 30%,
    #ff6b6b 40%,
    #ea2f2f 60%,
    #eb1717 90%
  );
  border-radius: 15px;
  border: 10px double black;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding: 1rem;
}

.panel-left,
.panel-right {
  border-radius: 3px;
  border: 3px inset #b31818;
  flex: 1;
  padding: 0.75rem;
}

.panel-hinge {
  background-color: #6eeb83;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  width: 1.875rem;
}

.panel-bar {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  width: 100%;

  & > .box {
    flex: 1;
    margin-bottom: 0.5rem;
  }
}

.box {
  border-radius: 3px;
  border: 3px inset #b31818;
  padding: 0.5rem;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &.is-flex {
    display: flex;

    &.is-spaced {
      justify-content: space-between;
      align-items: center;
    }
  }
}

/*
Looks
*/

#pokemon-image {
  padding: 4rem;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pokemon-image img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

#pokemon-stats {
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#pokemon-effects {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

#pokemon-text {
  height: 120px;
  overflow: hidden;
}

.bg-green {
  background: linear-gradient(
    190deg,
    #54dc6a 0%,
    #6eeb83 30%,
    #b0ffc0 40%,
    #6eeb83 60%,
    #54dc6a 90%
  );
}

.bg-grey {
  background-color: #e8ebf7;
}

.evolution-box {
  border: 3px inset #b31818;
  flex: 1;
  padding: 0.75rem;
}

.pill {
  border-radius: 10px;
  font-size: 20px;
  padding: 0.25rem;
  margin: 0.25rem;
  background-color: white;
  text-align: center;
  border: 3px inset #b31818;
  text-transform: uppercase;
}

.type {
  border: 3px inset #b31818;
  font-size: 20px;
  padding: 0.25rem;
  margin: 0.25rem;
  background-color: white;
  text-align: center;
}

.inlineBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.effectbutton {
  border: 3px inset #b31818;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
  background-color: #f91c1c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.effectbutton svg {
  width: 20px;
  height: 20px;
}

.toggle {
  border: 3px inset #b31818;
  background-color: #f91c1c;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  padding: 0.5rem;
}

.evolution {
  align-items: center;
  background-color: #e8ebf7;
  border: 3px inset #b31818;
  display: flex;
  height: 120px;
  justify-content: center;
  margin-top: 0.5rem;
  width: 100%;

  & img {
    width: 80%;
  }
}

#evolution-bar {
  flex: 1;

  & p {
    margin: 0;
    padding: 0;
  }
}
